<% if user_signed_in?%>

 <a class="movies-btn" href="/movies/new">
 <span class="movies-btn_text">投稿</span></a>

 <a class="likes-btn" href="/movies/likes/show">
 <span class="mlikes-btn_text">いいね一覧</span></a>

 <a class="likes-btn" href="#">
 <span class="mlikes-btn_text">DM</span></a>

<% else%>
<p>投稿.DM送信をするにはユーザーアカウントを作成及びサインインしましょう</p>
<% end %>

<div class="search-btn-class">
 <%= search_form_for @m, url: search_movies_path  do |f| %>
    <%= f.label :instrument_eq, '楽器名'%>
    <%= f.collection_select :instrument_eq, @movies, :instrument,:instrument, include_blank: '指定なし'%>
    <%=f.submit '検索' %>
  <% end %>
</div>