<h1 class="title-list">
<p>ダイレクトメッセージ 相手一覧</p>
</h1>

<%@dm_user_names.each do |dm_users_name| %>
<div class="dm_user">
<%= dm_users_name %>
</div>
<% end %>



<%# <% @rooms.each do |room| %>
<%# <%= opponent_user(room)%>
<%# <% end %> 

<%# <% @chat_user.each do |dm_user| %>
  <%# <%= dm_user.nickname%> 
<%# <% end %> 

