
<p>ダイレクトメッセージ相手 一覧</p>
<% @u.each do |user|%>
<%= user.nickname%>
<% end %>

<%# <% @rooms.each do |room| %>
<%# <%= opponent_user(room)%>
<%# <% end %> 

<%# <% @chat_user.each do |dm_user| %>
  <%# <%= dm_user.nickname%> 
<%# <% end %> 

