<div calss="follower-page">
<h1 class="title-list">
<a class="follows_name"><%=@user.nickname%><span>さんのフォロワー一覧</span></a>
</h1>
</div>

<% @followers.each do |user| %>
<div>
  <%= link_to user.nickname, [user],class:"follows_name_class" %>
</div>
<% end %>