body{
  background-image: url("/images/blue.jpeg");
  min-height: 706px;
  background-repeat:repeat;
  background-size: 100%;
}

footer{
  background-color: black;
  position:fixed;
  bottom: 0px;
  left:0px;
  width:100vw;
}
.header{
  width:100vw;
  background-color: black	;
  position:fixed;
  top: 0px;
  right: 0px;
  z-index:1;
}

.dm_user {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 15px;
}

h1.title-list {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin:20px;
  }